* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header {
    padding: 30px 35px;
    border-bottom: 2px solid black;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    color: white;
}

.container {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    align-items: center;

}

.paragraph-container {
    margin: 0 auto;
    text-align: center;
}

.paragraph {
    font-size: 17px;
    padding: 10px 5px;
}


.start-btn {
    background-color: purple;
    padding: 10px;
    font-size: 30px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
}

.start-btn:hover {
    background: #cc00ff;
    color: white;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
}

#timer-title{
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0px;
}

#question {
    padding: 30px 30px;
    font-size: 20px;
}

#option-list{

}

.question-options {
    background-color: purple;
    padding: 10px;
    font-size: 25px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    border: black solid;
}

.question-options:hover {
    background: #cc00ff;
    color: white;
    /* border-radius: 20px; */
}

/* Come back to this one */
/* #question-result {
    background-color: purple;
    font-size: 25px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    border: black solid; 
    padding: 10px;
} */

.correct {
    background-color: purple;
    font-size: 25px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    /* border: black solid; 
    padding: 10px; */
}

#end-game {
    /* width: 70%;
    margin: 30px auto;
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    align-items: center; */
}

.high-score-screen {
   font-size: 30px;
   font-weight: bold;
   padding: 15px;
}

#high-score-number {


}

.initials-text-box {
    padding: 10px;
    font-size: 20px;
}

#initials {
    font-size: 20px;
    border-radius: 15px;
    margin: 0 auto;
}

.button-score, .button-high-scores{
    background-color: purple;
    padding: 10px 10px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
}

.button-score:hover, .button-high-scores:hover {
    background: #cc00ff;
    color: white;
}

.hide {
    display: none;
}

/* .invisible {
    visibility: hidden;
}  */