* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header {
    padding: 30px 35px;
    border-bottom: 2px solid black;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    align-items: center;

}

.start-btn {
    color: red;
}

#timer {

}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
} 